/* 페이지의 header 부분 */
header
{
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid blue;
    text-shadow: 3px 3px 3px green;
    padding: 30px 0px;
}

/* 페이지의 좌측 영역부분 */
#left
{
    width: 50%;
    float: left;
}

/* 페이지의 좌측 영역에서 사용되는 첫번째 제목 */
/* Delete Selected Entry를 클릭하기 이전의 상태 */
/* Delete Selected Entry를 클릭하기 이후의 상태 */
#before_left_title1, #after_left_title1
{
    color: black;
    font-size: 35px;
    font-weight: bold;
}

/* 페이지의 좌측 영역에서 사용되는 두번째 제목 */  
/* Delete Selected Entry를 클릭하기 이전의 상태 */
/* Delete Selected Entry를 클릭하기 이후의 상태 */
#before_left_title2, #after_left_title2
{
    color: black;
    font-size: 35px;
    font-weight: bold;
}

/* 페이지의 우측 영역부분 */
#right
{
    width: 50%;
    float: right;
}

/* 페이지의 우측 영역에서 사용되는 첫번째 제목 */
#right_title
{
    width: 370px;
    position: relative;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 3px red;
    -webkit-animation: titleMove 5s infinite; /* safari */
    animation: titleMove 5s infinite;
}
@keyframes titleMove
{
    0% {left: 0px; top: 0px;}
    100% {left: 450px; top: 0px;}
}

/* 해당 페이지의 footer 영역 */
footer
{
    clear: both;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid blue;
    padding-top: 20px;
}

#form1 label
{
    font-weight: bold;
}

#form2 label
{
    font-weight: bold;
}

/* 페이지에서 사용되는 select form 태그와 관련된 부분 */
#tournament_select, #playerdob_select
{
    width: 250px;
    margin-bottom: 20px;
}

#returnHome
{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}

#content1, #content2
{
    font-weight: bold;
}

/* 페이지 상단에 움직이는 이미지에 대한 부분 */
#moveImage img
{
    width: 150px;
    -webkit-animation: moveImg 5s infinite; /* safari */
    animation: moveImg 5s infinite;
    position: relative;
}
@keyframes moveImg
{
    0% {left: -500px; top: -350px;}
    100% {left: 300px; top: -350px;}
}

/* 페이지 상에서 존재하는 텍스트 박스에 대한 부분 */
#textBox
{
    position: relative;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 400px;
    height: 100px;
    background-color: greenyellow;
    -webkit-animation: moveTextBox 5s infinite; /* safari */
    animation: moveTextBox 5s infinite;
}
@keyframes moveTextBox
{
    0% {left: 200px; top: -400px;}
    100% {left: 200px; top: 100px;}
}

#subtitle1:hover
{
    width: 200px;
    text-align: center;
    background-color: seagreen;
    padding: 5px 5px;
    font-size: 30px;
    font-weight: bold;
    -webkit-transform: skewX(20deg); /* safari */
    transform: skewX(20deg);
    -webkit-transform: skewY(20deg); /* safari */
    transform: skewY(20deg);
}

#content1:hover
{
    height: 100px;
    background-color: yellow;
    font-size: 30px;
    font-weight: bold;
    -webkit-transform: rotate(15deg); /* safari */
    transform: rotate(15deg);
}

#subtitle2:hover
{
    width: 200px;
    text-align: center;
    background-color: seagreen;
    padding: 5px 5px;
    font-size: 25px;
    font-weight: bold;
    -webkit-transform: skewX(-20deg); /* safari */
    transform: skewX(-20deg);
}

#content2:hover
{
    width: 700px;
    text-align: center;
    background-color:lightgray;
    color: blue;
    font-size: 30px;
    font-weight: bold;
    -webkit-transform: skewX(10deg); /* safari */
    transform: skewX(10deg);
    -webkit-transform: skewY(-10deg); /* safari */
    transform: skewY(-10deg);
}

#imageBox
{
    width: 200px;
    height: 200px;
    background-image: url("animation.png");
    border: 3px solid black;
    margin: 10px 0px;
    -webkit-transition: 2s; /* safari */
    transition: 2s;
    -webkit-transition-delay: 1s; /* safari */
    transition-delay: 1s;
}

#imageBox:hover
{
    background-image: url("animation2.png");
    border-radius: 30px;
}