#title
{
    width: 350px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    border: 1px solid blue;
    margin-bottom: 20px;
}

#left_title
{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 3px green;
}

#right_title1
{
    position: relative;
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 3px 3px 3px red;
    -webkit-animation: titleMove 5s infinite; /* safari */
    animation: titleMove 5s infinite;
}

@keyframes titleMove
{
    0% {left: 0px; top: 0px;}
    50% {left: 20%; top: 0px;}
    100% {left:0px; top: 0px;}
}



#right_title2
{
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 3px green;
}

#left
{
    width: 50%;
    float: left;
}

#right
{
    width: 50%;
    float: right;
}


#return_home
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

#left_form
{
    width: 350px;
    height: 120px;
    background-color: gold;
    border: 1px solid blue;
    -webkit-animation: colorChange 10s infinite; /* safari */
    animation: colorChange 10s infinite;
}

#right_form
{
    width: 350px;
    height: 120px;
    background-color: tomato;
    border: 1px solid blue;
    -webkit-animation: colorChange 10s infinite; /* safari */
    animation: colorChange 10s infinite;
}


@keyframes colorChange
{
    0% {background-color: red}
    10% {background-color: orange}
    20% {background-color: yellow}
    30% {background-color: green}
    40% {background-color: blue}
    50% {background-color: coral}
    60% {background-color: purple}
    70% {background-color: tomato}
    80% {background-color: gold}
    90% {background-color: cyan}
    100% {background-color: lightblue}
}

#footer
{
    clear: both;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0px;
    background-color: mediumaquamarine;
    border: 1px solid blue;
}

img
{
    position: relative;
    width: 500px;
    -webkit-animation: imageMove 10s infinite;
    animation: imageMove 10s infinite;
}

@keyframes imageMove
{
    0% {left: 0px; top: 0px;}
    50%{left: 20%; top: 0px;}
    100% {left: 0px; top: 0px;}
}